.toolbar-mobile
  display: flex

.toolbar-desktop
  display: none

.sidenav-container 
  height: 100%

.sidenav 
  width: 200px

.sidenav .mat-toolbar
  background: inherit
  position: relative

.mat-toolbar
  position: sticky
  top: 2px
  margin-left: auto
  margin-right: auto
  z-index: 999
  background: transparent
  transition: all 0.2s ease-in-out 
  .toolbar-item
    color: white
    transition: background-color 0.09s ease-in-out, box-shadow 0.3s ease-in-out
    &:hover
      background-color: rgba(255, 255, 255, 0.1)
  .spacer
    flex: 1 1 auto
  .github
    mat-icon
      width: 24px !important
      height: 24px !important

.glass-header
  position: sticky
  top: 8px   
  z-index: 1000 
  width: 95%
  background: rgba(20, 20, 20, 0.25)
  -webkit-backdrop-filter: blur(10px) saturate(160%)
  backdrop-filter: blur(10px) saturate(160%)
  border: 1px solid rgba(255, 255, 255, 0.05)
  border-radius: 2rem
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6),inset 0 2px 12px rgba(255, 255, 255, 0.05)
  padding: 1rem
  overflow: hidden
  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 2rem
    background: linear-gradient(145deg, rgba(255,255,255,0.05), rgba(0,0,0,0.2))
    -webkit-backdrop-filter: blur(4px)
    backdrop-filter: blur(4px)
    box-shadow: inset 0px 1px 4px rgba(255, 255, 255, 0.1),inset 0px -2px 6px rgba(0, 0, 0, 0.4)
    opacity: 0.7
    z-index: -1

// .logo
//   font-size: 1.3rem

.page-content
  padding-top: 56px

@media only screen and (min-width: 768px)
  .toolbar-mobile
    display: none

  .toolbar-desktop
    display: flex


