<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'dialog'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar>MariusDev</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Sobre mí</a>
      <a mat-list-item href="#">Proyectos</a>
      <a mat-list-item href="#">CV</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <a matButton="text" href="#" class="logo">
        MariusDev
      </a>
      <span class="spacer"></span>
      @if (!(isHandset$ | async)) {
        <a matButton="text" href="#">Sobre mí</a>
        <a matButton="text" href="#">Proyectos</a>
        <a matButton="text" href="#">CV</a>
      }
      @if (isHandset$ | async) {
        <a matIconButton aria-label="GitHub" href="https://github.com/MariusT-Devspace/portfolio" 
        class="github">
          <mat-icon [svgIcon]="'github'"></mat-icon>
        </a>
      } 
      @else {
        <a matButton="outlined" href="https://github.com/MariusT-Devspace/portfolio" 
          class="github">
          <mat-icon [svgIcon]="'github'"></mat-icon>
          Github
        </a>
      }

    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
