<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'dialog'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar>MariusDev</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Sobre mí</a>
      <a mat-list-item href="#">Proyectos</a>
      <a mat-list-item href="#">CV</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content (scroll)="onContentScroll($event)">
    <mat-toolbar class="toolbar-mobile"
    [class.glass-header]="isBlurredHeader"
    >
      <button class="toolbar-item"
        type="button"
        aria-label="Toggle sidenav"
        matIconButton
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a matButton="text" href="#" class="logo toolbar-item">
        Marius Dev
      </a>
      <span class="spacer"></span>
      <a matIconButton aria-label="GitHub" href="https://github.com/MariusT-Devspace/portfolio" 
        class="github toolbar-item">
          <mat-icon [svgIcon]="'github'"></mat-icon>
      </a>
    </mat-toolbar>

    <mat-toolbar class="toolbar-desktop"
    [class.glass-header]="isBlurredHeader">
      <button class="toolbar-item"
        type="button"
        aria-label="Toggle sidenav"
        matIconButton
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <a matButton="text" href="#" class="logo toolbar-item">
        MariusDev
      </a>
      <span class="spacer"></span>
      <a matButton="text" href="#" class="toolbar-item">Sobre mí</a>
      <a matButton="text" href="#" class="toolbar-item">Proyectos</a>
      <a matButton="text" href="#" class="toolbar-item">CV</a>
    
      <a matButton="outlined" href="https://github.com/MariusT-Devspace/portfolio" 
        class="github toolbar-item">
        <mat-icon [svgIcon]="'github'"></mat-icon>
        Github
      </a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
